body{
  background-color: gray;
}

h1{
  display: inline; 
  width: 100px;
  height: 100px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 30px;
  padding-bottom: 40px;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQXcwv-ZJSy4OtsblGtSVGwPZw8z7u-Fni9JDCOkP3ZTD5hfAQtPw");
  background-repeat: no-repeat;
  background-size: cover; 
  font-size: 50px;
 
}
