{% extends 'base.html' %}
{% import 'macros.html' as macro %}
{% import 'bootstrap/wtf.html' as wtf%}

{% block styles%}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='index.css')}}">
<link href="https://fonts.googleapis.com/css?family=Laila" rel="stylesheet">
{% endblock %}
{% block content %}
<blockquote class="text-center text-lg">
  <h2>Inspirational Quotes</h2>
  <p>{{quote.quote}}</p>
  <p class="sab">Author: {{quote.author}}</p>
  <br><br>
  <div class="container-fluid container">
    <h1 style='text-align:center;'>Welcome to my post blog web App</h1>
  </div>


  <a class="btn btn-primary btn md" href="/new_post">Add a new post</a>
  <a class="btn btn-primary btn md" href="/subscribe" style="float:center;">subscribe</a>
  {% for post in all_posts %}
  <div class="container-fluid">
    <div class="card-deck">
      <div class="card">
        <div class="card-body">
          <p>{{post.post}}</p>
        </div>
        <div class="card-header" style='text-align:center;'>
          <h5>{{post.user}}</h5>
        </div>
        <br>
        <div class="card-footer">
          <div class="container-fluid write">
            <a class="btn btn-primary btn-md" href="/comment/new/{{post.id}}">Write comment</a>
            <!-- <a class="btn btn-primary btn-md" href="/delpost/{{post.id}}">Delete comment</a> -->
          </div>
        </div>
      </div>
      <br>
    </div>
  </div>

  {% endfor %}
  </div>
  {% endblock%}
