{% extends 'base.html' %}
{% import 'macros.html' as macro %}
<!-- Styles block -->
{% block styles%}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='index.css')}}">
{% endblock %}
<body>
{% block content %}
<div class="container-fluid mt-3" text-align="center">

  <!-- <div class="selectpitch">

    <a href="{{url_for('main.pickup_line')}}">Pickup Lines|</a>
    <a href="{{url_for('main.business')}}">Business Pitch|</a>
    <a href="{{url_for('main.jobs')}}"> Jobs Pitch|</a>
    <a href="{{url_for('main.promotion')}}"> Promotion pitch</a>
    <hr>
  </div> -->
  {{macro.displayPostList(post)}}

</div>
<h1 id="quote">QUOTES BLOG</h1>
</div>
{% for post in all_posts%}

<p class="card-title"><strong>Quotes:
  </strong>{{post.title}}</p>
<!-- <p class="card-text">{{pitch.category}}</p> -->
<p class="card-text"><strong>Add a post:</strong> {{post.content}}</p>
<p class="card-text"><strong>{{post.user}}</strong></p>
<p><a href='/new/comment/'>comment</a>.</p>
<div class="voting_kochi" id="1012">

  <!-- <div class="voting_btn">
    <div class="up_button">&nbsp;</div><span class="up_votes">upvotes :0</span>
  </div>
  <div class="voting_btn">
    <div class="down_button">&nbsp;</div><span class="down_votes">downvotes:0</span>
  </div>

</div> -->
{% endfor %}


{% endblock%}

</body>